@{
    ViewBag.Title = "Kho máu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inventory">
    <h2>Kho máu hiện có</h2>
    <table>
        <thead>
            <tr>
                <th>Nhóm máu</th>
                <th>Số lượng (đơn vị)</th>
            </tr>
        </thead>
        <tbody>
            <tr><td>A</td><td>50</td></tr>
            <tr><td>B</td><td>40</td></tr>
            <tr><td>AB</td><td>30</td></tr>
            <tr><td>O</td><td>60</td></tr>
        </tbody>
    </table>
</section>
